<!doctype html>
<html lang="en" ng-app="tvApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Together Video</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="static/css/tv.css">
  <script src="static/lib/angular/angular.min.js"></script>
  <script src="static/js/controllers.js"></script>
</head>
<body ng-controller="tvCtrl">
  <div class="container">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Together Video</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="auth_required && !user.fullname"><a href="/auth/login">Login</a></li>
            <p ng-show="auth_required && user.fullname" class="navbar-text">Signed in as {{user.fullname}} (<a href="#" ng-click="logout()" class="navbar-link">Logout</a>)</p>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
    <div class="row" ng-hide="authorized">
      <div class="container">
        <p>Please login.</p>
      </div>
    </div>
    <div class="row" ng-show="authorized">
      <p>Authorized</p>
    </div>
  </div>
</body>
</html>
