server {
  listen {{ port }};

  access_log   /var/log/nginx/tv.access.log;
  error_log   /var/log/nginx/tv.error.log;

  location = / { rewrite ^ /tv/ redirect; }
  location = /tv { rewrite ^ /tv/ redirect; }
  location /tv { try_files $uri @tv; }
  location @tv {
    include uwsgi_params;
    uwsgi_param SCRIPT_NAME /tv;
    uwsgi_modifier1 30;
    uwsgi_pass unix:/var/run/uwsgi/app/tv/socket;
  }
}
